<%- include('../partials/header'); -%>

<div class="container .bg-light">
    <h2>Test</h2>
    <p>hi</p>
    <button type="button" class="btn btn-success" onclick="location.href='/article-edit';" >Edit</button>
</div>
<%- include('../partials/footer'); -%>