<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
        />
        <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
        crossorigin="anonymous"
        />
        <link rel="stylesheet" href="/styles/styles.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
        <title>Blog</title>
    </head>
    <body>
        <div class="login-form">
            <form action="/register" method="POST">
                <h2 class="text-center">Register</h2>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="First Name" name= 'firstName' required="required">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Last Name" name= 'lastName' required="required">
                </div>       
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email" name='email' required="required">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" name='password' required="required">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                </div>  
            </form>
            <p class="text-center">
                <a href="/">Back to Login</a>
            </p>
        </div>
    </body>
 </html>
<%- include('../partials/footer'); -%>